
$font-family-roboto: "Roboto", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;

$font-family-base: $font-family-roboto;
$font-weight-base: 400;

$headings-font-weight: 500;
$headings-color: $gray-900;

// $nav-link-font-weight: 500;

$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 0.875rem;
