/public/core/cache/**
/public/core/components/**
/public/core/config/**
/public/core/docs/**
/public/core/error/**
/public/core/export/**
/public/core/import/**
/public/core/lexicon/**
/public/core/model/**
/public/core/packages/**
/public/core/xpdo/**
/public/setup/**
/public/manager/**
/public/connectors/**
/public/assets/components/**
/public/index.php
/public/config.core.php
/public/**/ht.access
/node_modules/**
